<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工温度</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>


<h4> 员工数: {{ temperatures|length }}</h4>

<table border="1">
    <tr>
        <th>id</th>
        <th>员工编号</th>
        <th>温度</th>
        <th>日期</th>
    </tr>

    {% for temperature in temperatures|sort(attribute='temperature', reverse=true) %}
        <tr>
            <td> {{ temperature.id }} </td>
            <td> {{ temperature.employeeId }} </td>
            <td> {{ temperature.temperature }} </td>
            <td> {{ temperature.createdAt }} </td>
        </tr>
    {% endfor %}
</table>

<br></br>
<br></br>
<br></br>

<a href="{{ url_for('TempBp.new') }}">新增记录</a>
<a href="{{ url_for('TempBp.query') }}">查询</a>

</body>
</html>
