<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新记录</title>
　　<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>
<h2>新记录</h2>


<form method="POST" action="/new">
    <table>
        <tr>
            <td>{{ form.employeeId.label }}</td>
            <td>{{ form.employeeId }}</td>
            <td>{{ form.employeeId.errors[0] }}</td>
        </tr>
        <tr>
            <td>{{ form.temperature.label }}</td>
            <td>{{ form.temperature }} </td>
            <td>{{ form.temperature.errors[0] }}</td>
        </tr>
    </table>
    <div><input type="submit" name="new" value="新增" style="align-self: center"></div>
    <div><label>注意：当天多次提交以最后一次为准</label></div>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<br></br>

<a href="{{ url_for('TempBp.index') }}">统计</a>
<a href="{{ url_for('TempBp.query') }}">查询</a>

</body>
</html>
