<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新记录</title>
</head>
<body>
<h2>新记录</h2>

<form method="POST" action="/new">
    <table>
        <tr>
            <td>{{ form.employeeId.label }}</td>
            <td>{{ form.employeeId }}</td>
            <td>{{ form.employeeId.errors[0] }}</td>
        </tr>
        <tr>
            <td>{{ form.temperature.label }}</td>
            <td>{{ form.temperature }} </td>
            <td>{{ form.temperature.errors[0] }}</td>
        </tr>
    </table>
    <div><input type="submit" name="new" value="新增" style="align-self: center"></div>
</form>


<a href="{{ url_for('TempBp.index') }}">统计</a>
<a href="{{ url_for('TempBp.query') }}">查询</a>

</body>
</html>
