<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件查询</title>
</head>
<body>
<h2>条件查询</h2>


<form method="POST" action="/query">
     <table>
        <tr>
            <td>{{ form.employeeId.label }}</td>
            <td>{{ form.employeeId }}</td>
            <td>{{ form.employeeId.errors[0] }}</td>
        </tr>
        <tr>
            <td>{{ form.recordDate.label }}</td>
            <td>{{ form.recordDate }}</td>
            <td>{{ form.recordDate.errors[0] }}</td>
        </tr>
    </table>

    <div><input type="submit" name="query" value="查询" style="align-self: center"></div>
</form>


<h3>查询结果</h3>

<table border="1">
    <tr>
        <td align="center">id</td>
        <td align="center">员工编号</td>
        <td align="center">温度</td>
        <td align="center">日期</td>
    </tr>

    {% for temperature in temperatures %}
        <tr>
            <td> {{ temperature.id }} </td>
            <td> {{ temperature.employeeId }} </td>
            <td> {{ temperature.temperature }} </td>
            <td> truncate({{ temperature.createdAt }}, 10,false) </td>
        </tr>
    {% endfor %}
</table>

<br></br>
<br></br>
<br></br>

<a href="{{ url_for('TempBp.index') }}">统计</a>
<a href="{{ url_for('TempBp.new') }}">新增</a>
</body>
</html>
