<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询记录</title>
</head>
<body>
<h2>查询记录</h2>


<form method="POST" action="/query">
    <p>{{ form.employeeId.label }} {{ form.employeeId }} {{ form.employeeId.errors[0] }}</p>
    <p>{{ form.recordDate.label }} {{ form.recordDate }} {{ form.recordDate.errors[0] }}</p>
    <div><input type="submit" name="query" value="查询" style="align-self: center"></div>
</form>


<a href="{{ url_for('TempBp.index') }}">统计</a>
<a href="{{ url_for('TempBp.new') }}">新增</a>
</body>
</html>
